apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "key": "${EXOSCALE_API_KEY}",
      "secret": "${EXOSCALE_API_SECRET_KEY}"
    }
